<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerRelation">
            <h2><span jhiTranslate="demoGatewayApp.customerRelation.detail.title">Customer Relation</span> {{customerRelation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demoGatewayApp.customerRelation.remarkName" [ngbTooltip]="'demoGatewayApp.customerRelation.help.remarkName' | translate">Remark Name</span></dt>
                <dd>
                    <span>{{customerRelation.remarkName}}</span>
                </dd>
                <dt><span jhiTranslate="demoGatewayApp.customerRelation.py" [ngbTooltip]="'demoGatewayApp.customerRelation.help.py' | translate">Py</span></dt>
                <dd>
                    <span>{{customerRelation.py}}</span>
                </dd>
                <dt><span jhiTranslate="demoGatewayApp.customerRelation.pinYin" [ngbTooltip]="'demoGatewayApp.customerRelation.help.pinYin' | translate">Pin Yin</span></dt>
                <dd>
                    <span>{{customerRelation.pinYin}}</span>
                </dd>
                <dt><span jhiTranslate="demoGatewayApp.customerRelation.type" [ngbTooltip]="'demoGatewayApp.customerRelation.help.type' | translate">Type</span></dt>
                <dd>
                    <span>{{customerRelation.type}}</span>
                </dd>
                <dt><span jhiTranslate="demoGatewayApp.customerRelation.createdDate" [ngbTooltip]="'demoGatewayApp.customerRelation.help.createdDate' | translate">Created Date</span></dt>
                <dd>
                    <span>{{customerRelation.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="demoGatewayApp.customerRelation.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="customerRelation.customerId">
                        <a [routerLink]="['/customer', customerRelation.customerId, 'view']">{{customerRelation.customerFirstName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-relation', customerRelation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
