/**************************************ant-form***********************************************/
.has-error .ant-form-explain {
    position: absolute;
    font-size: 12px;
}
.datepicker-dropdown {
    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 160px;
    top: 34px;
    background-color: #ffffff;
}

.cell-1 {
    padding: 0 10px;
}
