
<div *ngIf="customerRelation">
    <h2><span jhiTranslate="demoHybridGatewayApp.customerRelation.detail.title">Customer Relation</span> {{customerRelation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoHybridGatewayApp.customerRelation.remarkName" [ngbTooltip]="'demoHybridGatewayApp.customerRelation.help.remarkName' | translate">Remark Name</span></dt>
        <dd>
            <span>{{customerRelation.remarkName}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.customerRelation.py" [ngbTooltip]="'demoHybridGatewayApp.customerRelation.help.py' | translate">Py</span></dt>
        <dd>
            <span>{{customerRelation.py}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.customerRelation.pinYin" [ngbTooltip]="'demoHybridGatewayApp.customerRelation.help.pinYin' | translate">Pin Yin</span></dt>
        <dd>
            <span>{{customerRelation.pinYin}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.customerRelation.type" [ngbTooltip]="'demoHybridGatewayApp.customerRelation.help.type' | translate">Type</span></dt>
        <dd>
            <span>{{customerRelation.type}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.customerRelation.createdDate" [ngbTooltip]="'demoHybridGatewayApp.customerRelation.help.createdDate' | translate">Created Date</span></dt>
        <dd>
            <span>{{customerRelation.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.customerRelation.customer">Customer</span></dt>
        <dd>
            <div *ngIf="customerRelation.customerId">
                <a [routerLink]="['/customer', customerRelation.customerId]">{{customerRelation.customerFirstName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-relation/'+ customerRelation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
