
<div *ngIf="userRelation">
    <h2><span jhiTranslate="demoHybridGatewayApp.userRelation.detail.title">User Relation</span> {{userRelation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoHybridGatewayApp.userRelation.remarkName" [ngbTooltip]="'demoHybridGatewayApp.userRelation.help.remarkName' | translate">Remark Name</span></dt>
        <dd>
            <span>{{userRelation.remarkName}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.userRelation.type" [ngbTooltip]="'demoHybridGatewayApp.userRelation.help.type' | translate">Type</span></dt>
        <dd>
            <span>{{userRelation.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-relation/'+ userRelation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
