<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserRelationLabel" jhiTranslate="demoHybridGatewayApp.userRelation.home.createOrEditLabel">Create or edit a User Relation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userRelation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userRelation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.userRelation.remarkName" for="field_remarkName" [ngbTooltip]="'demoHybridGatewayApp.userRelation.help.remarkName' | translate">Remark Name</label>
            <input type="text" class="form-control" name="remarkName" id="field_remarkName"
                [(ngModel)]="userRelation.remarkName" minlength="2" maxlength="14"/>
            <div [hidden]="!(editForm.controls.remarkName?.dirty && editForm.controls.remarkName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.remarkName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.remarkName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 14 }">
                   This field cannot be longer than 14 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.userRelation.type" for="field_type" [ngbTooltip]="'demoHybridGatewayApp.userRelation.help.type' | translate">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="userRelation.type" required minlength="1" maxlength="2"/>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
