<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-current-message-heading" jhiTranslate="imGatewayApp.currentMessage.home.createOrEditLabel">Create or edit a Current Message</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!currentMessage.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="currentMessage.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imGatewayApp.currentMessage.content" for="field_content" [ngbTooltip]="'imGatewayApp.currentMessage.help.content' | translate">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                        [(ngModel)]="currentMessage.content" minlength="2" maxlength="14"/>
                    <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.content?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.content?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 14 }">
                        This field cannot be longer than 14 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imGatewayApp.currentMessage.status" for="field_status" [ngbTooltip]="'imGatewayApp.currentMessage.help.status' | translate">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="currentMessage.status" required minlength="1" maxlength="2"/>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                        This field cannot be longer than 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imGatewayApp.currentMessage.type" for="field_type" [ngbTooltip]="'imGatewayApp.currentMessage.help.type' | translate">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="currentMessage.type" required minlength="1" maxlength="2"/>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                        This field cannot be longer than 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imGatewayApp.currentMessage.createdDate" for="field_createdDate" [ngbTooltip]="'imGatewayApp.currentMessage.help.createdDate' | translate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imGatewayApp.currentMessage.createdId" for="field_createdId" [ngbTooltip]="'imGatewayApp.currentMessage.help.createdId' | translate">Created Id</label>
                    <input type="number" class="form-control" name="createdId" id="field_createdId"
                        [(ngModel)]="currentMessage.createdId" required/>
                    <div [hidden]="!(editForm.controls.createdId?.dirty && editForm.controls.createdId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imGatewayApp.currentMessage.targetDate" for="field_targetDate" [ngbTooltip]="'imGatewayApp.currentMessage.help.targetDate' | translate">Target Date</label>
                    <div class="d-flex">
                        <input id="field_targetDate" type="datetime-local" class="form-control" name="targetDate" [(ngModel)]="targetDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.targetDate?.dirty && editForm.controls.targetDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targetDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.targetDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imGatewayApp.currentMessage.targetId" for="field_targetId" [ngbTooltip]="'imGatewayApp.currentMessage.help.targetId' | translate">Target Id</label>
                    <input type="number" class="form-control" name="targetId" id="field_targetId"
                        [(ngModel)]="currentMessage.targetId" required/>
                    <div [hidden]="!(editForm.controls.targetId?.dirty && editForm.controls.targetId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targetId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.targetId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="imGatewayApp.currentMessage.dialogue" for="field_dialogue">Dialogue</label>
                    <select class="form-control" id="field_dialogue" name="dialogue" [(ngModel)]="currentMessage.dialogueId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dialogueOption.id" *ngFor="let dialogueOption of dialogues; trackBy: trackDialogueById">{{dialogueOption.targetId}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
