<div>
    <h2 id="page-heading">
        <span jhiTranslate="imGatewayApp.customerRelation.home.title">Customer Relations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-relation" [routerLink]="['/customer-relation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="imGatewayApp.customerRelation.home.createLabel">
            Create new Customer Relation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'imGatewayApp.customerRelation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customerRelations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="imGatewayApp.customerRelation.remarkName">Remark Name</span></th>
            <th><span jhiTranslate="imGatewayApp.customerRelation.py">Py</span></th>
            <th><span jhiTranslate="imGatewayApp.customerRelation.pinYin">Pin Yin</span></th>
            <th><span jhiTranslate="imGatewayApp.customerRelation.type">Type</span></th>
            <th><span jhiTranslate="imGatewayApp.customerRelation.createdDate">Created Date</span></th>
            <th><span jhiTranslate="imGatewayApp.customerRelation.customer">Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customerRelation of customerRelations ;trackBy: trackId">
                <td><a [routerLink]="['/customer-relation', customerRelation.id, 'view' ]">{{customerRelation.id}}</a></td>
                <td>{{customerRelation.remarkName}}</td>
                <td>{{customerRelation.py}}</td>
                <td>{{customerRelation.pinYin}}</td>
                <td>{{customerRelation.type}}</td>
                <td>{{customerRelation.createdDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="customerRelation.customerId">
                        <a [routerLink]="['../customer', customerRelation.customerId , 'view' ]" >{{customerRelation.customerFirstName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/customer-relation', customerRelation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/customer-relation', customerRelation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer-relation/'+ customerRelation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
