<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDemoCLabel" jhiTranslate="demoHybridGatewayApp.demoC.home.createOrEditLabel">Create or edit a Demo C</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!demoC.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="demoC.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoC.name" for="field_name" [ngbTooltip]="'demoHybridGatewayApp.demoC.help.name' | translate">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="demoC.name" required minlength="2" maxlength="14"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 14 }">
                   This field cannot be longer than 14 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoC.status" for="field_status" [ngbTooltip]="'demoHybridGatewayApp.demoC.help.status' | translate">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="demoC.status" required minlength="1" maxlength="2"/>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoC.demoB" for="field_demoB">Demo B</label>
            <select class="form-control" id="field_demoB" name="demoB" [(ngModel)]="demoC.demoBId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="demoBOption.id" *ngFor="let demoBOption of demobs; trackBy: trackDemoBById">{{demoBOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
