
<div *ngIf="demoC">
    <h2><span jhiTranslate="demoHybridGatewayApp.demoC.detail.title">Demo C</span> {{demoC.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoHybridGatewayApp.demoC.name" [ngbTooltip]="'demoHybridGatewayApp.demoC.help.name' | translate">Name</span></dt>
        <dd>
            <span>{{demoC.name}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoC.status" [ngbTooltip]="'demoHybridGatewayApp.demoC.help.status' | translate">Status</span></dt>
        <dd>
            <span>{{demoC.status}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoC.demoB">Demo B</span></dt>
        <dd>
            <div *ngIf="demoC.demoBId">
                <a [routerLink]="['/demo-b', demoC.demoBId]">{{demoC.demoBName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'demo-c/'+ demoC.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
