<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dialogue-heading" jhiTranslate="demoGatewayApp.dialogue.home.createOrEditLabel">Create or edit a Dialogue</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dialogue.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dialogue.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoGatewayApp.dialogue.createdDate" for="field_createdDate" [ngbTooltip]="'demoGatewayApp.dialogue.help.createdDate' | translate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoGatewayApp.dialogue.createdId" for="field_createdId" [ngbTooltip]="'demoGatewayApp.dialogue.help.createdId' | translate">Created Id</label>
                    <input type="number" class="form-control" name="createdId" id="field_createdId"
                        [(ngModel)]="dialogue.createdId" required/>
                    <div [hidden]="!(editForm.controls.createdId?.dirty && editForm.controls.createdId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoGatewayApp.dialogue.targetId" for="field_targetId" [ngbTooltip]="'demoGatewayApp.dialogue.help.targetId' | translate">Target Id</label>
                    <input type="number" class="form-control" name="targetId" id="field_targetId"
                        [(ngModel)]="dialogue.targetId" required/>
                    <div [hidden]="!(editForm.controls.targetId?.dirty && editForm.controls.targetId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targetId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.targetId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoGatewayApp.dialogue.targetType" for="field_targetType" [ngbTooltip]="'demoGatewayApp.dialogue.help.targetType' | translate">Target Type</label>
                    <input type="text" class="form-control" name="targetType" id="field_targetType"
                        [(ngModel)]="dialogue.targetType" required minlength="1" maxlength="2"/>
                    <div [hidden]="!(editForm.controls.targetType?.dirty && editForm.controls.targetType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targetType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targetType?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.targetType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                        This field cannot be longer than 2 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
