@charset "UTF-8";
* {
  font-family:'Arial Normal', 'Arial','微软雅黑','宋体';
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  min-height: 100%;
  position: relative;
  background: #ececec;
  body {
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
    //min-width: 768px;
    background: #f2f2f2;
    label {
      font-size: 15px;
    }
  }
}

/*=============================通用 strat===========================*/
[hidden]{
  //  抵消display与hidden指令的冲突
  display: none !important;
}
.pull-left {
  float: left !important;
  text-align: left !important;
}
.pull-right {
  float: left !important;
  text-align: right !important;
}
.hover-hand:hover {
  cursor: hand;
  cursor: pointer;
}
a {
  &:hover {
    cursor: hand;
    cursor: pointer;
  }
}

.a-none {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  &:link { /* 未访问的链接 */
    text-decoration: none;
  }
  &:visited { /* 已访问的链接 */
    color: #337ab7;
    text-decoration: none;
  }
  &:hover { /* 鼠标移动到链接上 */
    text-decoration: none;
  }
  &:active { /* 选定的链接 */
    text-decoration: none;
  }
}
/*=================================皮肤===========================================*/
/*=======7种皮肤*=======*/

.skin-white {
  background-color: #F2F2F2;
  border-style: solid;
  border-color: #CCC;
  border-width: 0px 1px 0px 0px;
}

/*字体皮肤*/

.text-red {
  color: red;
}

.text-white {
  color: #ffffff;
}

.text-primary {
  color: #428BCA;
}

.text-dark {
  color: #1D2939;
}

.text-muted {
  color: #777;
}

.text-yellow {
  color: #FFFF00;
}

.text-orange {
  color: #FFC657;
}

.no-padding {
  padding: 0px !important;
}

/*背景色*/

.skin-success-background {
  background-color: #1CAF9A;
}

.skin-primary-background {
  background-color: #428BCA;
}

.skin-info-background {
  background-color: #5BC0DE;
}

.skin-warning-background {
  background-color: #F0AD4E;
}

.skin-danger-background {
  background-color: #D9534F;
}

.skin-dark-background {
  background-color: #1D2939;
}

.skin-muted-background {
  background-color: #777;
}

/*边框色*/

.skin-success-border {
  border: solid #1CAF9A;
}

.skin-primary-border {
  border: solid #428BCA;
}

.skin-info-border {
  border: solid #5BC0DE;
}

.skin-warning-border {
  border: solid #F0AD4E;
}

.skin-danger-border {
  border: solid #D9534F;
}

.skin-dark-border {
  border: solid #1D2939;
}

.skin-muted-border {
  border: solid #777;
}

/*=======7种皮肤end=======*/

.center {
  text-align: center;
  margin: auto;
}

/*间距*/

.space {
  margin: 8px 28px 0px;
}

.space-big {
  margin: 10px 4px 0px;
}

.space-small {
  margin: 5px 2px 0px;
}

.vertical-bar {
  height: 100%;
  position: inherit;
  float: left;
  margin: 0px 10px;
}
.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}
.padding-2 {
  padding: 2px !important;
}

.no-margin {
  margin: 0px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-30 {
  margin-top: 15px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

/*边框*/

.no-border {
  border-width: 0;
}

.border-top {
  border-top: 1px solid #DDD;
}

.border-bottom {
  border-bottom: 1px solid #DDD;
}

.border-l {
  border-left: 1px solid #DDD;
}

.border-r {
  border-right: 1px solid #DDD;
}

.border-lr {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.jscroll-e {
  display: none;
}

/*div长条*/

.line-center {
  box-sizing: content-box;
  position: relative;
  min-height: 28px;
  max-height: 28px;
  background: #F7F7F7 none repeat scroll 0% 0%;
  text-align: center;
  padding: 4px !important;
  border-right: 2px solid white;
}

.line-left {
  box-sizing: content-box;
  position: relative;
  min-height: 28px;
  max-height: 28px;
  background: #F7F7F7 none repeat scroll 0% 0%;
  text-align: left;
  padding: 4px !important;
}

.line-right {
  box-sizing: content-box;
  position: relative;
  min-height: 28px;
  max-height: 28px;
  background: #F7F7F7 none repeat scroll 0% 0%;
  text-align: right;
  padding: 4px !important;
}

.title-blue {
  display: block;
  border-left: 3px solid #5d94d8;
  padding-left: 10px;
}

/*=============================通用 end===========================*/
