@charset "UTF-8";
@import 'sass/global/colors';
@import 'sass/global/variables';
/*********************************基本按钮类型***********************************/

.btn-warning {
    padding: 0px 28px;
    min-width: $btn-width;
    height: $btn-height;
    line-height: $btn-height;
    background-color: map-get(map-get($component-colors, yellow-btn), base);
    border-color: map-get(map-get($component-colors, yellow-btn), base);
    &:hover {
        background-color: map-get(map-get($component-colors, yellow-btn), base);
        border-color: map-get(map-get($component-colors, yellow-btn), base);
        opacity: 0.8;
        filter: alpha(Opacity=80);
        -moz-opacity: 0.8;
    }
    &:active,
    &:focus,
    &:active:hover {
        background-color: #d89c19;
        border-color: #d89c19;
    }
}
/**********btn-accent************/
.btn-default {
    padding: 0px 28px;
    min-width: $btn-width;
    height: $btn-height;
    line-height: $btn-height;
}
/**********btn-accent************/
.btn-accent {
    color: #ffffff;
    background-color: #ffb71f;
    //border-radius: 10px 0 0 10px;
    font-size: 13px;
    width: $btn-width;
    height: $btn-height;
}

.btn-accent:not([disabled]):hover {
    background-color: #ffb71f;
    color: #ffffff;
}

.btn-accent[disabled] {
    color: #ffffff;
    background-color: #ffb71f;
}
/**********btn-accent************/
.btn-white {
    color: #666666;
    background-color: #ffffff;
    //border-radius: 10px 0 0 10px;
    font-size: 13px;
    width: $btn-width;
    height: $btn-height;
}

.btn-white:not([disabled]):hover {
    background-color: #999999;
    color: #666666;
}

.btn-white[disabled] {
    color: #666666;
    //background-color: #ffb71f;
}
/**********btn-link：将按钮展示成a标签************/
.ant-btn.btn-link {
    color: #666666;
    text-decoration: underline;
    border: 0px;
    &:hover {
        cursor: hand;
        cursor: pointer;
        text-decoration: none;
        color: #20202f;
    }
    &:link {
        text-decoration: none;
        color: #666666;
    }
    &:visited {
        text-decoration: none;
        color: #666666;
    }
    &:active {
        text-decoration: none;
        color: #666666;
    }
    &:focus {
        text-decoration: none;
        color: #20202f;
    }
}
/*********************************按钮大小***********************************/
//正常
.btn-action {
    min-width: $btn-width;
    height: $btn-action-height;
    line-height: $btn-height;
}
//较大
.btn-large {
    min-width: $btn-large-width;
    height: $btn-height;
    line-height: $btn-height;
}
//  铺满
.btn-covered {
    display: block;
    width: 100%;
    height: 100%;
}
/*********************************按钮边框***********************************/
.btn-border {
    border: 1px solid #cccccc;
}
.btn-outline.btn-warning {
    color: #ffb71f;
    background-color: #ffffff;
    &:hover {
        color: map-get(map-get($component-colors, yellow-btn), base);
        border-color: map-get(map-get($component-colors, yellow-btn), base);
        background-color: #fffbf4;
    }
    &:active,
    &:focus,
    &:active:hover {
        color: map-get(map-get($component-colors, yellow-btn), base);
        background-color: #fff7e8;
    }
}
