@charset "UTF-8";
@import "sass/global/colors";

/***************************************全局表单基本样式****************************************/
input[type="checkbox"],input[type="radio"]
{
  &:hover{
    cursor: hand;
    cursor: pointer;
  }
}
input[type=checkbox][disabled],input[type=radio][disabled]
{
  cursor: not-allowed;
}
/***************************************全局表单基本样式****************************************/
//  动态模版公共样式
.search-control-template,.form-control-template{
  //  后置标签
  .ant-input-group-addon {
    background: #ffffff;
    border: 0px;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0px;
  }
  .ant-form-item{
    margin-bottom: 14px;
    //  label
    .ant-form-item-label{
      //line-height: 25px;
      label{
        margin: 0px;
      }
    }
    //  input
    .ant-form-item-control-wrapper{
      //  input和错误提示
      .ant-form-explain, .ant-form-extra{
        line-height: 1.2;
      }
      .ant-form-item-control{
        .ant-calendar-picker-input{
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-radius: 0px;
        }
        // 所有表单组件样式的基本重写
        input,textarea,select,ant-input,nz-select .ant-select-selection {
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-radius: 0px;
          font-size: 14px;
          &:focus {
            $box-shadow:0px 2px 2px 0px rgba(16, 142, 233, 0.2);
            border-color: #49a9ee;
            outline: 0;
            box-shadow: $box-shadow;
            -webkit-box-shadow: $box-shadow;
            -moz-box-shadow: $box-shadow;
          }
          &[readonly] {
            border-style: dashed;
          }
        }
        //  普通的ant表单
        nz-input.ant-input-wrapper{

        }
      }
    }
  }
}

//  动态列表模版表格栅格
.search-control-template{
  .ant-form-item {
    margin-bottom: 14px;
    //  label
    .ant-form-item-label {
      //line-height: 25px;
      label {
        margin: 0px;
      }
      //  在表单和label上下排列时使label靠左
      @media (max-width: 767px), (min-width: 768px), (min-width: 992px) {
        @for $i from 1 to 24 {
          &.ant-col-xs-#{$i}, &.ant-col-sm-#{$i}, &.ant-col-md-#{$i} {
            text-align: left;
          }
        }
      }
      @media (min-width: 1600px) {
        @for $i from 1 to 24 {
          &.ant-col-xl-#{$i} {
            text-align: right;
          }
        }
      }
    }
  }
}
//  动态表单模版表格栅格
.form-control-template{
  .ant-form-item{
    /**** 调整高度到出现报错提示时不会晃动  ****/
    margin-bottom: 0px;
    min-height: 52px;
    .ant-form-item-control{
      line-height: 20px;
    }
    .has-error .ant-form-explain{
      font-size: 12px;
    }
    //右移表单提示图标
    .has-success.has-feedback:after, .has-warning.has-feedback:after, .has-error.has-feedback:after, .is-validating.has-feedback:after{
      right:-32px;
    }
  }
  nz-table{
    //  动态编辑表格
    &.edit-dynamic-table{
      .ant-table-small {
        .ant-table-body{
          .ant-table-thead{
            tr {
              th {
                &:nth-last-of-type(1) {
                  width: 80px;
                }
              }
            }
          }
          .ant-table-tbody{
            tr {
              th{
                &:nth-last-of-type(1){
                  width: 80px;
                }
              }
              td{
                padding: 0px 2px ;
                .ant-time-picker,nz-input{
                  width: 80%;
                  min-width: 60px;
                  input{
                    padding: 0px 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
