@charset "UTF-8";
@import "sass/global/colors";
/**************************************fontawesome 字体图标***********************************************/
.fa{
  font-size: 14px;
}
/*******************************************解决angular初始化时闪烁***************************************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}
ng\:form {
  display: block;
}
.ng-animate-start {
  clip: rect(0, auto, auto, 0);
  -ms-zoom: 1.0001;
}
.ng-animate-active {
  clip: rect(-1px, auto, auto, 0);
  -ms-zoom: 1;
}
/*******************************************下拉多选***************************************/
.multiSelect{
  > button{
    border: 0px;
    border-bottom: 1px solid #c6c6c6;
    background-color: #fff;
    background-image: linear-gradient(#fff, #fff);
    min-width: 150px;
  }
  > button:hover{
    background-color: #fff;
    background-image: linear-gradient(#fff, #fff);
  }
}
p-breadcrumb{
  .ui-widget-header {
    background: #f2f2f2 0 0 repeat-x;
    border: 0px;
    border-bottom: 1px solid #d9d9d9;
  }
}
/**************************************ant-form***********************************************/
//  动态表单dynamic-form.component对ant表单默认样式的修改
.form-card-template{
}
/**************************************ant-time-picker***********************************************/
.form-control-template .ant-form-item .ant-form-item-control-wrapper .ant-form-item-control input.ant-calendar-picker-input[readonly]{
  border-style: solid;
}
/**************************************ant-menu***********************************************/
nz-header{

  box-shadow: 0 2px 5px 0 rgba(119, 119, 119, 0.3);
}
/**************************************ant-menu***********************************************/
nz-sider{
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.3);
}
//  侧边菜单栏
.ant-menu-vertical.ant-menu-inline-collapsed > .ant-menu-item .fa, .ant-menu-inline-collapsed > .ant-menu-item .fa, .ant-menu-vertical.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .fa, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .fa{
  font-size: 16px;
  line-height: 42px;
  margin: 0;
}

.ant-menu-inline .ant-menu-item{
  font-size: 15px !important;
}
/**************************************ant-select***********************************************/
//  展开后的下拉列表父级DIV
.ant-select-dropdown{
  border-radius: 0px;
}
/**************************************************layer****************************************/
.laydate_box, .laydate_box * {
  box-sizing:content-box;
}
.layui-layer-msg{
  >.layui-layer-content{
    background:#0072c6;
    color:#fff;
    font-size: 18px;
  }
}
.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.check-element {
  padding:10px;
  border:1px solid black;
  background:white;
}

.lay-page{
  text-align: right;
  padding: 10px 0px;
  border-top: 1px solid #d4d4d4;
  margin: 0px;
  height: 50px;
  margin-top: 10px;
  >.laypage_main{
    span{
      //border-radius: 0px !important;
    }
  }
}

/***************************modal弹窗*********************************/
.modal-open .modal{
  overflow-y: auto;
}
.modal-dialog{
  &.modal-lg{
    min-width: 1002px;
  }
  &.modal-sm{
    min-width: 760px;
  }
  &.modal-xs{
    min-width: 440px;
  }
  .modal-body{
    padding: 0px;
  }
  .modal-content{
    border-radius: 5px;
    .modal-header {
      height: 46px;
      padding: 15px;
      border-bottom: 1px solid #e5e5e5;
      border: 0px;
      background-color: #3b3a3f;
      color: #ffffff;
      border-radius: 5px 5px 0px 0px;
      .modal-title{
        font-size: 14px;
      }
      .close {
        margin-top: -23px;
        color: #ffffff;
        opacity: 1;
      }
    }
    .modal-footer{
      border-top: 0px;
    }
  }
}

#toast-container {
  .toast{
    font-size: 14px;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    border-radius: 1px;
    -moz-box-shadow: 0 0 0px #999;
    -webkit-box-shadow: 0 0 0px #999;
    box-shadow: 0 0 0px #999;
    padding: 12px 15px 12px 15px;
    background-image: none !important;
    //width: auto !important;
    //max-width: 720px;
    .toaster-icon {
      display: none;
      opacity: 0;
    }
    .toast-close-button{
      font-size: 10px;
      right: 0em;
       top: 0em;
    }
  }
  .toast-info{
    background-color: #49CE69;
  }
  .toast-error{
    background-color: #FF6767;
  }
  .toast-warning{
    background-color: #FF6767;

  }
  .toast-success{
    background-color: #FFB71F;
  }
}
/*************************************ant modal***********************************/
.page-ant-modal{
  // ant 大弹窗
  &.modal-lg{
    .ant-modal-wrap{
      text-align: center;
      .ant-modal{
        display: inline-block;
        width: 78vw !important;
        .ant-modal-content{
          //  page-ant-modal里不需要footer
          .ant-modal-footer{
            display: none;
          }
        }
      }
    }
  }
   // ant 中弹窗
   &.modal-md{
    .ant-modal-wrap{
      .ant-modal{
        width: 52vw !important;
        .ant-modal-content{
          //  page-ant-modal里不需要footer
          .ant-modal-footer{
            display: none;
          }
        }
      }
    }
  }
  // ant 小弹窗
  &.modal-xs{
    .ant-modal-wrap{
      .ant-modal{
        //width: 38vw !important;
      }
    }
  }
  .ant-modal-wrap{
    .ant-modal{
    }
  }
}
/*************************************ngdialog***********************************/
.ngdialog.ngdialog-theme-default {
  .ngdialog-content{
    padding: 0px;
    padding-bottom: 14px;
    .ngdialog-close{
      top: 4px;
      &:before{
        font-size: 14px;
        color: #ffffff;
      }
    }

  }
}
/*************************************PrimeNG:ui-datatable***********************************/
.ui-dialog.ui-widget {
  .ui-dialog-content{
    padding: 0px;
  }
}
.ui-datatable.ui-widget  {
  font-family: 'Arial Normal', 'Arial','微软雅黑','宋体';
  font-size: 15px;
  button{
    font-family: 'Arial Normal', 'Arial','微软雅黑','宋体';
    font-size: 15px;
  }
  .ui-paginator-bottom.ui-widget-header {
    background: #ffffff !important;
  }
  .ui-column-filter{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background: #ebedf0;
    border-radius: 0px;
  }
  .ui-widget-header {
    background: #f0f0f0 !important;
    tr.ui-state-default{
      background: #f0f0f0;
      color: #666666;
      border: 0px;
      th.ui-state-default{
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        &.ui-resizable-column{
          //line-height: 54px;
        }
      }
    }
  }
  .ui-state-default{
    border: none;
  }
  //.ui-datatable-scrollable-table-wrapper .ui-datatable .ui-datatable-data>tr>td {
  //  border-style: inherit !important;
  //}
  .ui-datatable-thead>tr>th, .ui-datatable-tfoot>tr>td, .ui-datatable-data>tr>td{
    height: 35px;
    //border: 1px;
    //border-top: 0px;
    //border-bottom: 0px;
    //border-style: solid;
    //border-color: #D5D5D5;
    border-left: none;
    border-right:  1px solid #d5d5d5;
    border-top: none;
    border-bottom: 1px solid #d5d5d5;

  }
  .ui-datatable-thead>tr>th:nth-last-child(1), .ui-datatable-data>tr>td:nth-last-child(1){
    border-right: none !important;
  }
  .ui-unselectable-text{
    border-right: 1px solid #d5d5d5 !important;
  }
  //.ui-unselectable-text:nth-last-child(1){
  //  border-right: none !important;
  //}
  .ui-datatable-scrollable-body{
    min-height: 420px;
    max-height: 420px;
    //border-left: 1px solid #d5d5d5;
    //border-right: 1px solid #d5d5d5;
    .ui-datatable-scrollable-table-wrapper{
      table{
        tbody{
          > tr{
            td{
              padding: 4px 8px;
              span{
                .ui-column-title{

                }
                &.ui-cell-data{
                  .ant-btn{
                    padding:0px;
                    padding-right: 5px;
                  }
                }
              }
            }
          }
          > tr.ui-widget-content.ui-state-highlight{
            background-color: #fafafb;
            color: #222222;
          }
          //  表格分页
          .ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a{
            color: #222222;
          }
        }
      }
    }
    tbody{

    }
  }
  .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
    border: 1px solid #ffb71f;
    background: #ffb71f;
    color: #FFFFFF;
  }
  .ui-paginator .ui-paginator-page.ui-state-active {
    background: #fdb636;
    color: #ffffff;
    border-color: #fdb636;
  }
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0px;
    background: none;
    font-weight: normal;
    color:#454545;
  }
  .ui-dropdown{
    height: 26px;
  }
}
.ui-widget-content,.ui-datatable.ui-widget .ui-widget-header tr.ui-state-default th.ui-state-default{
  text-align: center !important;
}
.ui-datatable-scrollable-table-wrapper table tbody > tr td{
  WORD-WRAP: break-word;
}

  /*****************************面包屑组件*******************************/
p-breadcrumb{
  .ui-breadcrumb{
    background: #f2f2f2 0 0 repeat-x;
    border: 0px;
    padding: 0px;
    >ul{
      //height: 117px;
      line-height: 50px;
      li{
        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
          border:none;
          background: none;
          color: map-get(map-get($component-colors,blue-soft), base);
        }
      }
    }
  }
  .ui-state-active {
    border: 0px ;
    background: none ;
    font-weight: normal ;
    color: black;
 }

}
.el-upload{
  text-align: right;
  position: absolute;
  right: 0;
  z-index: 1000;
  .el-upload__input{
    display: none;
  }
  .el-button--small {
      opacity: .4;
      font-size: 14px;
      border-radius: 0px;
  }
}
ul.messages li img.avatar, img.avatar {
  height: 100%;
  width: 100%;
  float: left;
  display: inline-block;
  border-radius: 2px;
  padding: 0;
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  position: absolute;
  left: 0;
  top: 0px;
}
//下拉框的最小寬度
.ant-select{
  min-width: 100%;
}
  //表格翻页下拉框样式
.ui-paginator-bottom{
  .ui-inputtext {

   padding: 0;
   padding-right: 1.5em

}}
//prime 弹框内容的样式
.ui-dialog.ui-widget .ui-dialog-content {
  padding: 16px;
}

.ant-form-item-label{
  line-height: 33px !important;
}


.institutionalManage .ui-tree {
  width: 100%;
  border:0;

}
//机构字段维护
.organizasub-component .data-li .ant-input{
  height: 32px;
  font-size: 16px;
}
//菜单向左缩起隐藏字体
.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .icon+span{
  max-width: 0;
  display: inline-block;
  opacity: 0;
}
//日期关联中间字符
.ant-calendar-range-picker-separator{
  line-height: 28px !important;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  line-height: 36px !important;
  height: 36px !important;

}
//li   悬浮样式
.ant-menu-dark .ant-menu-item:hover:hover{
  background: #108ee9 !important;
}


//tabel
.ui-datatable .ui-datatable-scrollable-wrapper{
  border: 1px solid #d5d5d5;
  border-top:0;
}
.ui-datatable.ui-widget{
  padding: 5px 20px 15px 20px;
}
.ui-datatable .ui-datatable-data>tr>td {
  padding: 0;
}
.ui-datatable-scrollable-body .ui-datatable-scrollable-table-wrapper table tbody > tr td{
  padding: 0 !important;
}


/*************************************ant 弹框 ***********************************/
.exit-box .ant-modal-body{
  width: 100%;
  text-align: center;
  font-size: 18px;
  .panel-form{
    box-shadow: none;
  }
}
.ant-modal-body{
  .panel-form{
    box-shadow: none;
  }
}

/**
*tabs的样式
*date:3-29 15:18
*author: racaly
*/
$tab-border-color : #c6c6c6;
.ant-tabs-bar{
  margin-bottom: 0px !important;
  border: 0px !important;
  //border-top: 1px solid $tab-border-color !important;
  border-bottom: 1px solid #ffffff !important;
  background: #fff;
   border-left:1px solid  $tab-border-color !important;
   .ant-tabs-tab-prev{
    border-right:1px solid $tab-border-color !important;
  }
    .ant-tabs-tab-prev-icon{

      &:before{
        content:"\E603";
        color:#000;
      }
    }
    .ant-tabs-tab-next{
      border-left:1px solid  $tab-border-color !important;
    }
    .ant-tabs-tab-next-icon{

      &:before{
        content:"\E602";
        color:#000;
      }
    }

    .ant-tabs-tab {
        background: transparent !important;
        border:0px !important;
        border-right:1px solid  $tab-border-color !important;
        border-radius: 0px 0px 0px 0px !important;
        margin-right: 0px !important;
        padding:5px 0px 5px 16px !important;
        &.ant-tabs-tab-active{
            background: #208cf2 !important;
            color:#fff !important;
        }
        &:hover{
          background: #208cf2 !important;
          color:#fff !important;
        }

        i.anticon,i.icon{
            margin-right:8px !important;
            margin-left:4px !important;
            font-size: 14px;
         }

    }
}

/**
*全局spin的样式
*/
.ant-spin-container{
  height: 100% !important;
  opacity: 1  !important;
}
.ant-spin-nested-loading {
  position: relative;
  z-index: 999999  !important;
}
.ant-spin-nested-loading > div > .ant-spin {
  max-height:100% !important;
}
.ant-spin-blur:after{
  background: transparent !important ;
}
.ui-widget-content{
  border: 0 !important;
}
