/*
 *
 *
 */
.page-select .panel-heading {
    margin-bottom: 10px;
    padding: 6px 10px;
}
.page-select .panel {
    border: 0px;
    border-bottom: 1px solid #e7ecf1;
}
.page-select .panel-title {
    height: 28px;
    line-height: 28px;
    font-weight: bold;
}
.page-select .panel-title .btn {
    margin: 0 !important;
    padding: 0 8px;
    height: 28px;
    line-height: 26px;
    border-radius: 2px;
    outline: none;
}
.page-select .panel-body {
    padding: 0;
    max-height: 160px;
    overflow-y: auto;
}
.page-select .panel-body .page-select-span {
    padding: 10px 10px 0 0;
}
.page-select .panel-body .page-select-span > div {
    display: inline-block;
    padding: 0 32px 0 15px;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    border: 1px solid #ddd;
    margin: 0 0 10px 10px;
    background: #f5f5f5;
    border-radius: 2px;
    position: relative;
    cursor: default;
    -webkit-transition: border-color ease-in-out 0.1s;
    transition: border-color ease-in-out 0.1s;
}
.page-select .panel-body .page-select-span > div:hover {
    border-color: #5cb85c;
}
.page-select .panel-body .page-select-span > div > div {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #999;
    font-size: 10px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    -webkit-transition: background ease-in-out 0.1s, color ease-in-out 0.1s;
    transition: background ease-in-out 0.1s, color ease-in-out 0.1s;
}
.page-select .panel-body .page-select-span > div > div:hover {
    background: #5cb85c;
    color: #fff;
}
.page-select .panel-body .page-select-list > div {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
.page-select .panel-body .page-select-list > div:last-of-type {
    border: none;
}
.page-select .panel-body .page-select-list > div > .btn {
    margin-right: 0;
    font-size: 10px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border-radius: 2px;
    padding: 0;
    outline: none;
}
.page-select .panel-body .page-select-list > div > span {
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
}

.container-fluid {
    padding: 0 10px;
}

/*.page-date-time {*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*}*/
.page-date-time * {
    outline: 0 !important;
}
.page-date-time .uib-datepicker {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.page-date-time .uib-timepicker {
    width: 293px;
    margin-top: 0;
}
.page-date-time .uib-separator {
    width: 10px;
    text-align: center;
}
.page-date-time ul > li:nth-of-type(1),
.page-date-time ul > li:nth-of-type(2) {
    padding: 0 10px;
}
.select-schedule-box {
    > .select-wait {
        padding: 0px 10px;
        > .widget-header {
            height: 21px;
            padding: 6px 10px;
            font-size: 16px;
            color: #000;
            font-weight: 600;
            border: 0px;
            border-bottom: 1px solid #ddd;
        }
        > .widget-body {
            padding: 10px 10px 0 0;
            > .page-select {
                > .panel {
                    width: 100%;
                    position: absolute;
                    border: 0px;
                    .page-select-span {
                        padding: 0px;
                    }
                }
            }
            > .page-select:nth-of-type(1) {
                //left: 170px;
            }
            > .page-select:nth-of-type(2) {
                //left: 370px;
            }
        }
    }
    > .select-button {
        text-align: center;
        height: auto;
        > button {
            margin-top: 40px;
        }
    }
    > .select-confirm {
        .panel-heading {
            background-color: #fff;
        }
    }
}
