
<div *ngIf="flockRelation">
    <h2><span jhiTranslate="demoHybridGatewayApp.flockRelation.detail.title">Flock Relation</span> {{flockRelation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoHybridGatewayApp.flockRelation.remarkName" [ngbTooltip]="'demoHybridGatewayApp.flockRelation.help.remarkName' | translate">Remark Name</span></dt>
        <dd>
            <span>{{flockRelation.remarkName}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.flockRelation.py" [ngbTooltip]="'demoHybridGatewayApp.flockRelation.help.py' | translate">Py</span></dt>
        <dd>
            <span>{{flockRelation.py}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.flockRelation.pinYin" [ngbTooltip]="'demoHybridGatewayApp.flockRelation.help.pinYin' | translate">Pin Yin</span></dt>
        <dd>
            <span>{{flockRelation.pinYin}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.flockRelation.type" [ngbTooltip]="'demoHybridGatewayApp.flockRelation.help.type' | translate">Type</span></dt>
        <dd>
            <span>{{flockRelation.type}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.flockRelation.createdDate" [ngbTooltip]="'demoHybridGatewayApp.flockRelation.help.createdDate' | translate">Created Date</span></dt>
        <dd>
            <span>{{flockRelation.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.flockRelation.customer">Customer</span></dt>
        <dd>
            <div *ngIf="flockRelation.customerId">
                <a [routerLink]="['/customer', flockRelation.customerId]">{{flockRelation.customerFirstName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.flockRelation.customerFlock">Customer Flock</span></dt>
        <dd>
            <div *ngIf="flockRelation.customerFlockId">
                <a [routerLink]="['/customer-flock', flockRelation.customerFlockId]">{{flockRelation.customerFlockName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'flock-relation/'+ flockRelation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
