@charset "UTF-8";
/* Cubic Bezier Transition */
/* Cubic Bezier Transition */
/*顶部导航条*/
/*侧边导航条*/
/***************************顶部导航条***************************/
.page-index-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  min-height: 56px;
  line-height: 56px;
  background: #2c3749;
  color: #999999;
  z-index: 10;
  min-width: 870px; }
  .page-index-header > ul {
    display: -webkit-box;
    display: flex; }
    .page-index-header > ul > li:nth-of-type(1) {
      font-size: 16px;
      -webkit-flex: 0 0 220px;
      flex: 0 0 220px;
      color: #ffffff; }
      .page-index-header > ul > li:nth-of-type(1) * {
        float: left; }
      .page-index-header > ul > li:nth-of-type(1) img {
        height: 56px;
        width: 220px; }
    .page-index-header > ul > li:nth-of-type(1):hover {
      cursor: hand;
      cursor: pointer; }
    .page-index-header > ul > li:nth-of-type(2) {
      -webkit-flex: 1;
      flex: 1;
      -webkit-align-self: flex-end;
      align-self: flex-end;
      padding-right: 20px; }
      .page-index-header > ul > li:nth-of-type(2) ul.nav {
        display: -webkit-box;
        display: flex;
        border-bottom: none; }
        .page-index-header > ul > li:nth-of-type(2) ul.nav > li {
          -webkit-flex: 1;
          flex: 1;
          max-width: 154px;
          margin-bottom: 0;
          float: none;
          text-align: center;
          height: 52px;
          line-height: 52px; }
          .page-index-header > ul > li:nth-of-type(2) ul.nav > li > a {
            padding: 0 20px;
            height: 48px;
            line-height: 48px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border: none;
            background: #26313f;
            color: #CCCCCC;
            border-radius: 2px 2px 0 0;
            -webkit-transition: all ease-in-out .1s;
            transition: all ease-in-out .1s;
            font-size: 18px; }
            .page-index-header > ul > li:nth-of-type(2) ul.nav > li > a i {
              position: absolute;
              top: 0;
              right: 0;
              font-size: 8px;
              width: 20px;
              height: 20px;
              line-height: 20px;
              color: transparent;
              -webkit-transition: all ease-in-out .1s;
              transition: all ease-in-out .1s; }
            .page-index-header > ul > li:nth-of-type(2) ul.nav > li > a:hover {
              background: #ffffff; }
              .page-index-header > ul > li:nth-of-type(2) ul.nav > li > a:hover i:hover {
                background: #ffffff;
                color: #ffffff; }
          .page-index-header > ul > li:nth-of-type(2) ul.nav > li.active > a {
            cursor: default;
            background: #ffffff;
            height: 48px;
            font-size: 18px;
            line-height: 48px; }
            .page-index-header > ul > li:nth-of-type(2) ul.nav > li.active > a i {
              color: #26313f;
              cursor: pointer; }
          .page-index-header > ul > li:nth-of-type(2) ul.nav > li.disabled > a {
            background: #67809F;
            color: #FFFFFF; }
    .page-index-header > ul > li:nth-of-type(3) {
      -webkit-flex: none;
      flex: none; }
      .page-index-header > ul > li:nth-of-type(3) > ul > li {
        float: left;
        margin-right: 10px;
        color: #ffffff; }
        .page-index-header > ul > li:nth-of-type(3) > ul > li:last-of-type {
          position: relative;
          padding: 0 15px;
          cursor: pointer;
          background: #26313f; }
          .page-index-header > ul > li:nth-of-type(3) > ul > li:last-of-type > ul {
            display: none;
            position: absolute;
            top: 56px;
            left: 0;
            width: 100%;
            background: #26313f;
            text-align: center;
            -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1); }
            .page-index-header > ul > li:nth-of-type(3) > ul > li:last-of-type > ul > li {
              line-height: 40px;
              padding: 0 10px;
              border-top: 1px solid #26313f; }
              .page-index-header > ul > li:nth-of-type(3) > ul > li:last-of-type > ul > li:hover {
                background: #1d262f; }
          .page-index-header > ul > li:nth-of-type(3) > ul > li:last-of-type > b {
            display: inline-block;
            width: 8px;
            height: 8px;
            position: relative;
            top: -1px;
            border: 1px solid #ffffff;
            margin-left: 5px;
            border-bottom-color: transparent;
            border-left-color: transparent;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all ease-in-out .1s;
            transition: all ease-in-out .1s; }
          .page-index-header > ul > li:nth-of-type(3) > ul > li:last-of-type:hover {
            background: #1d262f;
            box-shadow: 0 1px 10px 0 #1d262f; }
            .page-index-header > ul > li:nth-of-type(3) > ul > li:last-of-type:hover > ul {
              display: block; }
            .page-index-header > ul > li:nth-of-type(3) > ul > li:last-of-type:hover > b {
              top: -4px;
              -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
  .page-index-header.isShow {
    display: block; }

/***************************侧边导航条***************************/
.page-index-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 56px;
  background: #2c3749;
  z-index: 9;
  -webkit-transition: width ease-in-out .03s;
  transition: width ease-in-out .03s;
  box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.2); }
  .page-index-nav a {
    color: #ffffff; }
  .page-index-nav .mCSB_scrollTools {
    left: 0px; }
  .page-index-nav .nav-scrollbar {
    height: 100vh;
    padding-top: 97px; }
  .page-index-nav .index-nav-icon {
    position: fixed;
    top: 56px;
    z-index: 1;
    width: 56px;
    height: 48px;
    padding: 18px 18px 0;
    cursor: pointer;
    -webkit-transition: left ease-in-out .03s;
    transition: left ease-in-out .03s; }
    .page-index-nav .index-nav-icon > span {
      position: relative;
      top: 0;
      right: 0;
      float: right;
      display: block;
      width: 20px;
      height: 2px;
      background: #ffffff;
      margin-top: 3px;
      -webkit-transition: all ease-in-out .1s;
      transition: all ease-in-out .1s; }
      .page-index-nav .index-nav-icon > span:first-of-type {
        margin-top: 0; }
    .page-index-nav .index-nav-icon:hover > span {
      background: #ffffff; }
      .page-index-nav .index-nav-icon:hover > span:first-of-type, .page-index-nav .index-nav-icon:hover > span:last-of-type {
        right: -1px;
        width: 10px; }
      .page-index-nav .index-nav-icon:hover > span:first-of-type {
        top: 2px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .page-index-nav .index-nav-icon:hover > span:last-of-type {
        top: -2px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .page-index-nav nav .index-nav-list {
    border-top: 1px solid #343f50; }
    .page-index-nav nav .index-nav-list > li .index-nav-heading {
      position: relative;
      background: #2c3749;
      color: #ffffff;
      cursor: pointer;
      height: 48px; }
      .page-index-nav nav .index-nav-list > li .index-nav-heading > span {
        top: 0;
        display: block;
        height: 48px;
        line-height: 48px; }
      .page-index-nav nav .index-nav-list > li .index-nav-heading > i {
        right: 15px;
        position: absolute;
        margin: auto;
        top: 15px;
        font-size: 18px; }
      .page-index-nav nav .index-nav-list > li .index-nav-heading > .menu-ioc {
        left: 16px;
        color: #ffffff;
        font-size: 24px; }
      .page-index-nav nav .index-nav-list > li .index-nav-heading > span {
        position: absolute;
        left: 56px;
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        -webkit-user-select: none;
        user-select: none;
        -webkit-transition: width ease-in-out .03s, color ease-in-out .1s;
        transition: width ease-in-out .03s, color ease-in-out .1s; }
        .page-index-nav nav .index-nav-list > li .index-nav-heading > span.index-nav-is-open {
          width: 164px; }
      .page-index-nav nav .index-nav-list > li .index-nav-heading > .nav-hover {
        position: fixed;
        left: 56px;
        width: 164px;
        max-height: 250px;
        background: #2c3749;
        z-index: 1;
        display: inline-block;
        border-left: 1px solid #1d262f; }
        .page-index-nav nav .index-nav-list > li .index-nav-heading > .nav-hover > .mCustomScrollBox > .mCSB_container > div:first-of-type {
          height: 48px;
          line-height: 48px;
          background: #1d262f;
          margin-left: -9px;
          padding-left: 19px;
          color: #ffffff; }
        .page-index-nav nav .index-nav-list > li .index-nav-heading > .nav-hover > .mCustomScrollBox > .mCSB_container > .index-nav-child > div > div {
          margin-left: 0px;
          padding-left: 10px; }
      .page-index-nav nav .index-nav-list > li .index-nav-heading:hover, .page-index-nav nav .index-nav-list > li .index-nav-heading.isActive {
        background: #1d262f; }
      .page-index-nav nav .index-nav-list > li .index-nav-heading.hover:after {
        content: "";
        position: absolute;
        top: 16px;
        right: 0;
        display: block;
        width: 16px;
        height: 16px;
        border-right: 8px solid;
        border-right-color: #1d262f;
        pointer-events: none; }
      .page-index-nav nav .index-nav-list > li .index-nav-heading.isOpen:after {
        display: none; }
    .page-index-nav nav .index-nav-list > li .index-nav-child {
      -webkit-transition: all ease-in-out .1s;
      transition: all ease-in-out .1s; }
      .page-index-nav nav .index-nav-list > li .index-nav-child > div > div {
        position: relative;
        height: 40px;
        line-height: 40px;
        margin-left: 56px;
        white-space: nowrap;
        cursor: pointer;
        color: #CCCCCC;
        -webkit-transition: all ease-in-out .1s;
        transition: all ease-in-out .1s; }
        .page-index-nav nav .index-nav-list > li .index-nav-child > div > div a {
          color: #CCCCCC; }
        .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:last-of-type {
          border-bottom: 0px; }
        .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:after {
          border-right-color: #1d262f; }
        .page-index-nav nav .index-nav-list > li .index-nav-child > div > div.isOpen:after {
          display: none; }
    .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1):before, .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1):after {
      content: "";
      position: absolute;
      top: 4px;
      height: 16px; }
    .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1) > i:last-of-type {
      right: 10px;
      position: absolute;
      margin: auto;
      top: 11px; }
    .page-index-nav nav .index-nav-list > li .nav-hover > .mCustomScrollBox > .mCSB_container > div:last-of-type > div:before, .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1):before {
      left: 0;
      display: block;
      width: 0;
      background: #1d262f;
      -webkit-transition: width ease-in-out .1s;
      transition: width ease-in-out .1s; }
    .page-index-nav nav .index-nav-list > li .nav-hover > .mCustomScrollBox > .mCSB_container > div:last-of-type > div:after, .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1):after {
      right: 0;
      display: none;
      width: 16px;
      border: 16px solid transparent; }
    .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1):hover, .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1).isActive {
      color: #ffffff;
      padding-left: 15px;
      background: #1d262f; }
      .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1):hover a, .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1).isActive a {
        color: #ffffff; }
    .page-index-nav nav .index-nav-list > li .nav-hover > .mCustomScrollBox > .mCSB_container > div:last-of-type > div:hover:before, .page-index-nav nav .index-nav-list > li .nav-hover > .mCustomScrollBox > .mCSB_container > div:last-of-type > div.isActive:before {
      width: 5px; }
    .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1):hover:before, .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1).isActive:before {
      width: 5px; }
    .page-index-nav nav .index-nav-list > li .nav-hover > .mCustomScrollBox > .mCSB_container > div:last-of-type > div.isActive:after, .page-index-nav nav .index-nav-list > li .index-nav-child > div > div:nth-of-type(1).isActive:after {
      display: block; }
    .page-index-nav nav .index-nav-list > li .index-nav-child.nav-grand-child > div > div:nth-of-type(1) {
      margin-left: 15px; }
    .page-index-nav nav .index-nav-list > li .index-nav-grand-child {
      -webkit-transition: all ease-in-out .1s;
      transition: all ease-in-out .1s;
      display: inline-block;
      position: absolute;
      left: 164px;
      width: auto;
      background: #2c3749;
      z-index: 1;
      border: 0px solid #1d262f; }
      .page-index-nav nav .index-nav-list > li .index-nav-grand-child.nav-up {
        bottom: 0px; }
      .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        height: 40px;
        min-width: 220px;
        line-height: 40px;
        white-space: nowrap;
        cursor: pointer;
        color: #CCCCCC;
        -webkit-transition: all ease-in-out .1s;
        transition: all ease-in-out .1s;
        border-right: 1px solid #1d262f;
        border-bottom: 1px solid #1d262f; }
        .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div:last-of-type {
          border-bottom: 0px; }
        .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div:after {
          border-right-color: #1d262f; }
        .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div.isOpen:after {
          display: none; }
    .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div:before, .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div:after {
      content: "";
      position: absolute;
      top: 4px;
      height: 16px; }
    .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div:before {
      left: 0;
      display: block;
      width: 0;
      background: #1d262f;
      -webkit-transition: width ease-in-out .1s;
      transition: width ease-in-out .1s; }
    .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div:after {
      right: 0;
      display: none;
      width: 16px;
      border: 16px solid transparent; }
    .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div:hover, .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div.isActive {
      padding-left: 25px;
      padding-right: 5px;
      background: #1d262f;
      color: #ffffff; }
    .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div:hover:before, .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div.isActive:before {
      width: 5px; }
    .page-index-nav nav .index-nav-list > li .index-nav-grand-child > div.isActive:after {
      display: block; }
  .page-index-nav.index-nav-is-open {
    width: 220px; }
    .page-index-nav.index-nav-is-open .index-nav-icon {
      left: 164px; }
      .page-index-nav.index-nav-is-open .index-nav-icon:hover > span:first-of-type, .page-index-nav.index-nav-is-open .index-nav-icon:hover > span:last-of-type {
        right: 11px; }
      .page-index-nav.index-nav-is-open .index-nav-icon:hover > span:first-of-type {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .page-index-nav.index-nav-is-open .index-nav-icon:hover > span:last-of-type {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
    .page-index-nav.index-nav-is-open + .page-content {
      left: 220px; }
  .page-index-nav.isShow {
    display: block; }
  .page-index-nav::-webkit-scrollbar {
    display: none; }

/*# sourceMappingURL=menu.css.map */
