<div class="panel page-model">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <span class="page-modal-close" ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <h3>{{msg}}</h3>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span> 确定</a>
        <a class="btn btn-default" ng-if="if_btn_cancel" ng-click="cancel()"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a>
    </div>
</div>