
<div *ngIf="demoB">
    <h2><span jhiTranslate="demoHybridGatewayApp.demoB.detail.title">Demo B</span> {{demoB.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoHybridGatewayApp.demoB.name" [ngbTooltip]="'demoHybridGatewayApp.demoB.help.name' | translate">Name</span></dt>
        <dd>
            <span>{{demoB.name}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoB.status" [ngbTooltip]="'demoHybridGatewayApp.demoB.help.status' | translate">Status</span></dt>
        <dd>
            <span>{{demoB.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'demo-b/'+ demoB.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
