<!doctype html>
<html>
    <head>
        <!-- 路径（可以自己。第三方） -->
        <script src=“//“></script>


        <!--    charset  字符集
         utf-8”是一种字符编码。charset=”utf-8”是告知浏览器此页面属于什么字符编码格式，下一步浏览器做好“翻译”工作。常见的字符编码有：gb2312、gbk、unicode、utf-8。
                  -->
        <meta charset="utf-8">

        <!-- meta name=渲染器 内容 =webkit -->
        <!-- content的取值为webkit,ie-comp,ie-stand之一，区分大小写，分别代表用webkit内核，IE兼容内核，IE标准内核。 
          若页面需默认用极速核，增加标签：<meta name="renderer" content="webkit"> 
          若页面需默认用ie兼容内核，增加标签：<meta name="renderer" content="ie-comp"> 
          若页面需默认用ie标准内核，增加标签：<meta name="renderer" content="ie-stand"> -->



        <meta name="renderer" content="webkit">
        <!-- Compatible" content="IE=edge,chrome=1  兼容的“内容= " IE =边缘,chrome = 1 " > -->
        <meta http-equiv="X-UA-Compatible" content="IE=7">  
        <!-- 以上代码告诉IE浏览器，无论是否用DTD声明文档标准，IE8/9都会以IE7引擎来渲染页面。   -->
        <meta http-equiv="  X-UA-Compatible" content="IE=8">
        <!-- 以上代码告诉IE浏览器，IE8/9都会以IE8引擎来渲染页面。   -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。   -->
        <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">  
        <meta http-equiv="X-UA-Compatible" content="IE=7,9">  
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <!-- 以上代码IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame. -->
        <meta name="viewport"Compatible="width=device-width,initial-scale=1">
        <!-- device-width, initial-scale  设备宽度,初始 -->
        <!-- width:可视区域的宽度，值可为数字或关键词device-width
            height:同width
            intial-scale:页面首次被显示是可视区域的缩放级别，取值1.0则页面按实际尺寸显示，无任何缩放
            maximum-scale=1.0, minimum-scale=1.0;可视区域的缩放级别，
            maximum-scale用户可将页面放大的程序，1.0将禁止用户放大到实际尺寸之上。
            user-scalable:是否可对页面进行缩放，no 禁止缩放 -->
        <meta name="description" content="描述内容">
        <meta name="Keywords" content"=关键词”内容">
         
         
        <title>网页标题     </title>

         <link rel="canonical"href=“https：//www.com”>
         <!-- canonical=规范化 -->
         <link type="text/css" rel="stylesheet" href="https://">
         <!-- <link type="text/css" rel="stylesheet"=<链接类型= " text / css " rel = "样式表" href =  -->
         <!-- head-end -->
         <link rel="preload" as="style" href="http://">
         <!-- <link rel="preload" as="style" =< link rel = "预加载”=“风格”href = "  -->
         <link rel="preload" as="script" href="http://">
         <!-- <link rel="preload" as="script" href=< link rel = "预加载”=“脚本”href -->
         <link rel="stylesheet" href="http//">
         <!-- <link rel="stylesheet" href=< link rel = "样式表" href -->
     <!-- 网站名字 -->

        <script charset="utf-8" type="text/javascript" async src ="http://"></script>
        <!-- script=脚本  charset 字符集  JavaScript 脚本语音  async 异步同时做好几件事，调用后立即返回，不阻塞线程 线程的-->
        <style>
            h1{
                color: red;
            }
            div{
                width: 500px;
                height: 100px;
                border: 1px solid red;
                background-color: beige;
            }
            div:active {
                background-color: green;
            }
        </style>
     </head>
     <body>
         <div></div>
        <h1>哈哈哈</h1>
        <h2>哈哈哈</h2>
        <h3>哈哈哈</h3>
        <h4>哈哈</h4>
        <b>哈哈哈</b>
        123
        可以实时更新
        <small>多记一些标签</small>
        <div>hello </div>
        <script>
        
            var div = document.getElementsByTagName("div")[0];

            div.onclick= function(){
                alert("123")
            }
            div.innerText = "萌新"
            console.log(div)
        </script>
     
     
         
     </body>
</html>