<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    /* 这里面是写样式的 */
    h3{
      color: red;
      font-size: 50px;

    }
    /* 选中带有app这个id的标签 */
    #app{
      color: green;
    }
    .user{
      color: aqua;
      font-size: 20px;
    }
    /* 懂了没有！！！！！！！ */
    你可以看视频啊，视频里面都
  </style>
</head>
<body>
    <h3>早发白帝城</h3>
    <p id="app">早滴白帝<br>彩云间</p>
    <p class="user">千里江陵一日还.</p>
</body>
</html>