<div class="page-ad">
    <div class="container">
        <ul class="nav nav-pills nav-justified step step-round" data-step="2">
            <ng-container *ngFor="let data of dataList">
                <ng-container *ngIf="data.state == 0 || data.state == 1">
                    <li class="active">
                        <a>
                            <p>{{data.name}}</p>
                            <p>{{data.username}}</p>
                            <p>{{data.date}}</p>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="data.state== 2 || data.state== 3 || data.state== 4 || data.state== -1">
                    <li>
                        <ng-container *ngIf="data.rejectFlag=='N'">
                            <a class='no_pass'>
                                <p>{{data.name}}</p>
                                <p>{{data.username}}</p>
                                <p>{{data.date}}</p>
                            </a>
                        </ng-container>
                        <ng-container *ngIf="data.rejectFlag==''">
                            <a>
                                <p>{{data.name}}</p>
                                <p>{{data.username}}</p>
                                <p>{{data.date}}</p>
                            </a>
                        </ng-container>
                    </li>
                </ng-container>
            </ng-container>


        </ul>

    </div>
</div>