<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>这个世界上所有的遇见，其实都是一种修炼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h3>这个世界上所有的遇见，其实都是一种修炼</h3>
    <h6>2018年08月07日 06:43 <a href="http://eladies.sina.com.cn/feel/xinli/2018-08-07/0643/doc-ifzvpatr2209830.shtml">新浪女性</a></h6>
    <p>很多时候我们只是看到了感情里的伤害，但是我们也要知道，是因为爱，才会感觉到伤害，因为放在心上，所以在乎对方的一举一动。</p>
    <img src="assert/img/123.png" style="width: 500px; height: 100px;">  
    <p>很多感情在坚持不下去的时候，都想要一个好聚好散的结果，可是真心爱过的人，如何能做到潇洒转身。</p>
    <img src="./www.jpg" style="width: 500px; height: 100px;">
    <h4>真心爱过的人</h4>
    <p>我们之间有两年感情了，上高三那会儿我和他在一起，每周末才能见一次面，</p>
    <img src="../222.jpg" style="width: 500px; height: 100px;">


    
</body>
</html>