<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>这个世界上所有的遇见，其实都是一种修炼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h3>这个世界上所有的遇见，其实都是一种修炼</h3>
    <h6>2018年08月07日 06:43 新浪女性</h6>
    <h4>很多时候我们只是看到了感情里的伤害，但是我们也要知道，是因为爱，才会感觉到伤害，因为放在心上，所以在乎对方的一举一动。</h4>
    <img src="assert/img/123.png" style="width: 500px;"height=“100px;”>
/>
    
</body>
</html>