
<div *ngIf="demoE">
    <h2><span jhiTranslate="demoHybridGatewayApp.demoE.detail.title">Demo E</span> {{demoE.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoHybridGatewayApp.demoE.name" [ngbTooltip]="'demoHybridGatewayApp.demoE.help.name' | translate">Name</span></dt>
        <dd>
            <span>{{demoE.name}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoE.status" [ngbTooltip]="'demoHybridGatewayApp.demoE.help.status' | translate">Status</span></dt>
        <dd>
            <span>{{demoE.status}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoE.demoD">Demo D</span></dt>
        <dd>
            <div *ngIf="demoE.demoDId">
                <a [routerLink]="['/demo-d', demoE.demoDId]">{{demoE.demoDName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'demo-e/'+ demoE.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
