
<div *ngIf="demoA">
    <h2><span jhiTranslate="demoHybridGatewayApp.demoA.detail.title">Demo A</span> {{demoA.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.name" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.name' | translate">Name</span></dt>
        <dd>
            <span>{{demoA.name}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.status" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.status' | translate">Status</span></dt>
        <dd>
            <span>{{demoA.status}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.number" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.number' | translate">Number</span></dt>
        <dd>
            <span>{{demoA.number}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.bigDecimalNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.bigDecimalNum' | translate">Big Decimal Num</span></dt>
        <dd>
            <span>{{demoA.bigDecimalNum}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.floatNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.floatNum' | translate">Float Num</span></dt>
        <dd>
            <span>{{demoA.floatNum}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.doubleNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.doubleNum' | translate">Double Num</span></dt>
        <dd>
            <span>{{demoA.doubleNum}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.languageEnum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.languageEnum' | translate">Language Enum</span></dt>
        <dd>
            <span jhiTranslate="{{'demoHybridGatewayApp.Language.' + demoA.languageEnum}}">{{demoA.languageEnum}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.blobNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.blobNum' | translate">Blob Num</span></dt>
        <dd>
            <div *ngIf="demoA.blobNum">
                <a (click)="openFile(demoA.blobNumContentType, demoA.blobNum)" jhiTranslate="entity.action.open">open</a>
                {{demoA.blobNumContentType}}, {{byteSize(demoA.blobNum)}}
            </div>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.anyBlobNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.anyBlobNum' | translate">Any Blob Num</span></dt>
        <dd>
            <div *ngIf="demoA.anyBlobNum">
                <a (click)="openFile(demoA.anyBlobNumContentType, demoA.anyBlobNum)" jhiTranslate="entity.action.open">open</a>
                {{demoA.anyBlobNumContentType}}, {{byteSize(demoA.anyBlobNum)}}
            </div>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.imageBlobNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.imageBlobNum' | translate">Image Blob Num</span></dt>
        <dd>
            <div *ngIf="demoA.imageBlobNum">
                <a (click)="openFile(demoA.imageBlobNumContentType, demoA.imageBlobNum)">
                    <img [src]="'data:' + demoA.imageBlobNumContentType + ';base64,' + demoA.imageBlobNum" style="max-width: 100%;" alt="demoA image"/>
                </a>
                {{demoA.imageBlobNumContentType}}, {{byteSize(demoA.imageBlobNum)}}
            </div>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.textBlobNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.textBlobNum' | translate">Text Blob Num</span></dt>
        <dd>
            <span>{{demoA.textBlobNum}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.booleanCheck" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.booleanCheck' | translate">Boolean Check</span></dt>
        <dd>
            <span>{{demoA.booleanCheck}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.localDateWhen" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.localDateWhen' | translate">Local Date When</span></dt>
        <dd>
            <span>{{demoA.localDateWhen | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.dateTimeWhen" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.dateTimeWhen' | translate">Date Time When</span></dt>
        <dd>
            <span>{{demoA.dateTimeWhen | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.zonedDateTimeWhen" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.zonedDateTimeWhen' | translate">Zoned Date Time When</span></dt>
        <dd>
            <span>{{demoA.zonedDateTimeWhen | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.instantType" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.instantType' | translate">Instant Type</span></dt>
        <dd>
            <span>{{demoA.instantType | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.demoB">Demo B</span></dt>
        <dd>
            <div *ngIf="demoA.demoBId">
                <a [routerLink]="['/demo-b', demoA.demoBId]">{{demoA.demoBName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.demoE">Demo E</span></dt>
        <dd>
            <div *ngIf="demoA.demoEId">
                <a [routerLink]="['/demo-e', demoA.demoEId]">{{demoA.demoEName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="demoHybridGatewayApp.demoA.demoD">Demo D</span></dt>
        <dd>
            <span *ngFor="let demoD of demoA.demoDS; let last = last">
                <a [routerLink]="['/demo-d', demoD?.id ]">{{demoD.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'demo-a/'+ demoA.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
