<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDemoALabel" jhiTranslate="demoHybridGatewayApp.demoA.home.createOrEditLabel">Create or edit a Demo A</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!demoA.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="demoA.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.name" for="field_name" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.name' | translate">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="demoA.name" required minlength="2" maxlength="14"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 14 }">
                   This field cannot be longer than 14 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.status" for="field_status" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.status' | translate">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="demoA.status" required minlength="1" maxlength="2"/>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.number" for="field_number" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.number' | translate">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                [(ngModel)]="demoA.number" required min="100"/>
            <div [hidden]="!(editForm.controls.number?.dirty && editForm.controls.number?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.number?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.number?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 100 }">
                    This field should be at least 100.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.number?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.bigDecimalNum" for="field_bigDecimalNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.bigDecimalNum' | translate">Big Decimal Num</label>
            <input type="number" class="form-control" name="bigDecimalNum" id="field_bigDecimalNum"
                [(ngModel)]="demoA.bigDecimalNum" required min="10"/>
            <div [hidden]="!(editForm.controls.bigDecimalNum?.dirty && editForm.controls.bigDecimalNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.bigDecimalNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.bigDecimalNum?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 10 }">
                    This field should be at least 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.bigDecimalNum?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.floatNum" for="field_floatNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.floatNum' | translate">Float Num</label>
            <input type="number" class="form-control" name="floatNum" id="field_floatNum"
                [(ngModel)]="demoA.floatNum" required min="10"/>
            <div [hidden]="!(editForm.controls.floatNum?.dirty && editForm.controls.floatNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.floatNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.floatNum?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 10 }">
                    This field should be at least 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.floatNum?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.doubleNum" for="field_doubleNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.doubleNum' | translate">Double Num</label>
            <input type="number" class="form-control" name="doubleNum" id="field_doubleNum"
                [(ngModel)]="demoA.doubleNum" required min="10"/>
            <div [hidden]="!(editForm.controls.doubleNum?.dirty && editForm.controls.doubleNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.doubleNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.doubleNum?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 10 }">
                    This field should be at least 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.doubleNum?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.languageEnum" for="field_languageEnum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.languageEnum' | translate">Language Enum</label>
            <select class="form-control" name="languageEnum" [(ngModel)]="demoA.languageEnum" id="field_languageEnum" >
                <option value="FRENCH">{{'demoHybridGatewayApp.Language.FRENCH' | translate}}</option>
                <option value="ENGLISH">{{'demoHybridGatewayApp.Language.ENGLISH' | translate}}</option>
                <option value="SPANISH">{{'demoHybridGatewayApp.Language.SPANISH' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.blobNum" for="field_blobNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.blobNum' | translate">Blob Num</label>
            <div>
                <div *ngIf="demoA.blobNum" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(demoA.blobNumContentType, demoA.blobNum)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{demoA.blobNumContentType}}, {{byteSize(demoA.blobNum)}}</span>
                    <button type="button" (click)="demoA.blobNum=null;demoA.blobNumContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_blobNum" (change)="setFileData($event, demoA, 'blobNum', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="blobNum" id="field_blobNum"
                [(ngModel)]="demoA.blobNum" required minbytes="100"/>
            <input type="hidden" class="form-control" name="blobNumContentType" id="field_blobNumContentType"
                [(ngModel)]="demoA.blobNumContentType" />
            <div [hidden]="!(editForm.controls.blobNum?.dirty && editForm.controls.blobNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.blobNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.blobNum?.errors?.minbytes" jhiTranslate="entity.validation.minbytes" translateValues="{ min: 100 }">
                    This field should be at least 100.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.anyBlobNum" for="field_anyBlobNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.anyBlobNum' | translate">Any Blob Num</label>
            <div>
                <div *ngIf="demoA.anyBlobNum" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(demoA.anyBlobNumContentType, demoA.anyBlobNum)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{demoA.anyBlobNumContentType}}, {{byteSize(demoA.anyBlobNum)}}</span>
                    <button type="button" (click)="demoA.anyBlobNum=null;demoA.anyBlobNumContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_anyBlobNum" (change)="setFileData($event, demoA, 'anyBlobNum', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="anyBlobNum" id="field_anyBlobNum"
                [(ngModel)]="demoA.anyBlobNum" required minbytes="10"/>
            <input type="hidden" class="form-control" name="anyBlobNumContentType" id="field_anyBlobNumContentType"
                [(ngModel)]="demoA.anyBlobNumContentType" />
            <div [hidden]="!(editForm.controls.anyBlobNum?.dirty && editForm.controls.anyBlobNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.anyBlobNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.anyBlobNum?.errors?.minbytes" jhiTranslate="entity.validation.minbytes" translateValues="{ min: 10 }">
                    This field should be at least 10.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.imageBlobNum" for="field_imageBlobNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.imageBlobNum' | translate">Image Blob Num</label>
            <div>
                <img [src]="'data:' + demoA.imageBlobNumContentType + ';base64,' + demoA.imageBlobNum" style="max-height: 100px;" *ngIf="demoA.imageBlobNum" alt="demoA image"/>
                <div *ngIf="demoA.imageBlobNum" class="form-text text-danger clearfix">
                    <span class="pull-left">{{demoA.imageBlobNumContentType}}, {{byteSize(demoA.imageBlobNum)}}</span>
                    <button type="button" (click)="clearInputImage('imageBlobNum', 'imageBlobNumContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_imageBlobNum" (change)="setFileData($event, demoA, 'imageBlobNum', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="imageBlobNum" id="field_imageBlobNum"
                [(ngModel)]="demoA.imageBlobNum" required minbytes="10"/>
            <input type="hidden" class="form-control" name="imageBlobNumContentType" id="field_imageBlobNumContentType"
                [(ngModel)]="demoA.imageBlobNumContentType" />
            <div [hidden]="!(editForm.controls.imageBlobNum?.dirty && editForm.controls.imageBlobNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imageBlobNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.imageBlobNum?.errors?.minbytes" jhiTranslate="entity.validation.minbytes" translateValues="{ min: 10 }">
                    This field should be at least 10.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.textBlobNum" for="field_textBlobNum" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.textBlobNum' | translate">Text Blob Num</label>
            <textarea class="form-control" name="textBlobNum" id="field_textBlobNum"
                [(ngModel)]="demoA.textBlobNum" required minbytes="10"></textarea>
            <div [hidden]="!(editForm.controls.textBlobNum?.dirty && editForm.controls.textBlobNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.textBlobNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.textBlobNum?.errors?.minbytes" jhiTranslate="entity.validation.minbytes" translateValues="{ min: 10 }">
                    This field should be at least 10.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.booleanCheck" for="field_booleanCheck" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.booleanCheck' | translate">Boolean Check</label>
            <input type="checkbox" class="form-control" name="booleanCheck" id="field_booleanCheck"
                [(ngModel)]="demoA.booleanCheck" />
            <div [hidden]="!(editForm.controls.booleanCheck?.dirty && editForm.controls.booleanCheck?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.booleanCheck?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.localDateWhen" for="field_localDateWhen" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.localDateWhen' | translate">Local Date When</label>
            <div class="input-group">
                <input id="field_localDateWhen" type="text" class="form-control" name="localDateWhen" ngbDatepicker  #localDateWhenDp="ngbDatepicker" [(ngModel)]="demoA.localDateWhen"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="localDateWhenDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.localDateWhen?.dirty && editForm.controls.localDateWhen?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.localDateWhen?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.dateTimeWhen" for="field_dateTimeWhen" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.dateTimeWhen' | translate">Date Time When</label>
            <div class="d-flex">
                <input id="field_dateTimeWhen" type="datetime-local" class="form-control" name="dateTimeWhen" [(ngModel)]="demoA.dateTimeWhen"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateTimeWhen?.dirty && editForm.controls.dateTimeWhen?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateTimeWhen?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateTimeWhen?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.zonedDateTimeWhen" for="field_zonedDateTimeWhen" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.zonedDateTimeWhen' | translate">Zoned Date Time When</label>
            <div class="d-flex">
                <input id="field_zonedDateTimeWhen" type="datetime-local" class="form-control" name="zonedDateTimeWhen" [(ngModel)]="demoA.zonedDateTimeWhen"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.zonedDateTimeWhen?.dirty && editForm.controls.zonedDateTimeWhen?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.zonedDateTimeWhen?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.zonedDateTimeWhen?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.instantType" for="field_instantType" [ngbTooltip]="'demoHybridGatewayApp.demoA.help.instantType' | translate">Instant Type</label>
            <div class="d-flex">
                <input id="field_instantType" type="datetime-local" class="form-control" name="instantType" [(ngModel)]="demoA.instantType"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.instantType?.dirty && editForm.controls.instantType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.instantType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.instantType?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.demoB" for="field_demoB">Demo B</label>
            <select class="form-control" id="field_demoB" name="demoB" [(ngModel)]="demoA.demoBId">
                <option [ngValue]="null"></option>
                <option [ngValue]="demoBOption.id" *ngFor="let demoBOption of demobs; trackBy: trackDemoBById">{{demoBOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demoHybridGatewayApp.demoA.demoE" for="field_demoE">Demo E</label>
            <select class="form-control" id="field_demoE" name="demoE" [(ngModel)]="demoA.demoEId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="demoEOption.id" *ngFor="let demoEOption of demoes; trackBy: trackDemoEById">{{demoEOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="demoHybridGatewayApp.demoA.demoD" for="field_demoD">Demo D</label>
            <select class="form-control" id="field_demoD" multiple name="demoD" [(ngModel)]="demoA.demoDS">
                <option [ngValue]="getSelected(demoA.demoDS, demoDOption)" *ngFor="let demoDOption of demods; trackBy: trackDemoDById">{{demoDOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
