<div>
    <h2>
        <span jhiTranslate="demoHybridGatewayApp.customer.home.title">Customers</span>
        <button class="btn btn-primary float-right jh-create-entity create-customer" [routerLink]="['/', { outlets: { popup: ['customer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="demoHybridGatewayApp.customer.home.createLabel">
            Create new Customer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mobile"><span jhiTranslate="demoHybridGatewayApp.customer.mobile">Mobile</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span jhiTranslate="demoHybridGatewayApp.customer.firstName">First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span jhiTranslate="demoHybridGatewayApp.customer.lastName">Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="py"><span jhiTranslate="demoHybridGatewayApp.customer.py">Py</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pinYin"><span jhiTranslate="demoHybridGatewayApp.customer.pinYin">Pin Yin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="passwordHash"><span jhiTranslate="demoHybridGatewayApp.customer.passwordHash">Password Hash</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="demoHybridGatewayApp.customer.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imageUrl"><span jhiTranslate="demoHybridGatewayApp.customer.imageUrl">Image Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activated"><span jhiTranslate="demoHybridGatewayApp.customer.activated">Activated</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="langKey"><span jhiTranslate="demoHybridGatewayApp.customer.langKey">Lang Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activationKey"><span jhiTranslate="demoHybridGatewayApp.customer.activationKey">Activation Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resetKey"><span jhiTranslate="demoHybridGatewayApp.customer.resetKey">Reset Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resetDate"><span jhiTranslate="demoHybridGatewayApp.customer.resetDate">Reset Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="demoHybridGatewayApp.customer.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="demoHybridGatewayApp.customer.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers ;trackBy: trackId">
                <td><a [routerLink]="['../customer', customer.id ]">{{customer.id}}</a></td>
                <td>{{customer.mobile}}</td>
                <td>{{customer.firstName}}</td>
                <td>{{customer.lastName}}</td>
                <td>{{customer.py}}</td>
                <td>{{customer.pinYin}}</td>
                <td>{{customer.passwordHash}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.imageUrl}}</td>
                <td>{{customer.activated}}</td>
                <td>{{customer.langKey}}</td>
                <td>{{customer.activationKey}}</td>
                <td>{{customer.resetKey}}</td>
                <td>{{customer.resetDate | date:'medium'}}</td>
                <td>{{customer.createdBy}}</td>
                <td>{{customer.createdDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customer', customer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="customers && customers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
